header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2024;
  padding: 4.7rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    display: flex;
    gap: 3.7rem;
    a {
      position: relative;
      color: var(--BLACK-PRIMARY);
      font-size: 1.6rem;
      line-height: 155.3%;
      letter-spacing: 0.096rem;
      &.actived{
        color: var(--BLACK);
        font-weight: bold;
        &:before {
          content: "";
          width: 0.4rem;
          height: 3.2rem;
          background: url(../img/header-line.svg) no-repeat center center;
          position: absolute;
          left: 50%;
          margin-left: -2px;
          top: -3.6rem;
        }
      }
      &:hover {
        color: var(--BLACK);
      }
    }
  }
  .header_snippets {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}